<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout med float og position</title>
    <!-- "Eksternt stylesheet" -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-1">
        <h1>Hej verden</h1>
        <h1 id="alt-overskrift">Anden overskrift</h1>
        <ul>
            <li class="fire-ben">Hund</li>
            <li class="fire-ben"><span class="listetekst">Kat</span></li>
            <li class="to-ben">Kænguru</li>
            <li class="fire-ben">Giraf</li>
            <li class="to-ben">And</li>
        </ul>
    </div>
    <div class="container-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, sunt maiores expedita similique alias iusto placeat, molestiae recusandae tempora atque suscipit, laborum fuga error? Corporis quasi odit inventore consequatur quaerat in cupiditate, deleniti officiis recusandae! Officia sunt corporis amet earum rerum corrupti rem adipisci ad expedita in ratione, iure dignissimos.</p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt esse cumque deserunt quasi eligendi at recusandae necessitatibus, magnam delectus explicabo excepturi obcaecati odio repudiandae. Voluptatum laudantium nam cum ad, animi vitae aliquam inventore natus repudiandae, iusto repellendus ullam? Laboriosam veritatis, illum perspiciatis maiores doloremque tempore aliquid itaque, magni voluptates architecto quibusdam iste consectetur repellat optio soluta, consequatur delectus inventore harum sint nihil beatae voluptas deleniti molestiae facilis. Nobis, dolore illum! Voluptate, veniam sapiente! Alias, nulla saepe est nam, odit enim, omnis unde eligendi suscipit nemo dignissimos iste. Nihil quod commodi labore aliquid, necessitatibus iusto aspernatur. Suscipit voluptates error ipsum recusandae!</p>
</body>
</html>