<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout med CSS</title>
    <!-- Link til "eksternt stylesheet" -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="kasse-1">
        <h1>Hej verden</h1>
        <h1 id="alt-overskrift">En anden overskrift</h1>
        <ul>
            <li class="fire-ben">Hund</li>
            <li class="aegdyr">Slange</li>
            <li class="fire-ben">Hest</li>
            <li class="aegdyr">Fugl</li>
            <li class="fire-ben">Egern</li>
        </ul>
    </div>
    <div class="kasse-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, fugiat <span class="highlight">voluptas quaerat</span> eaque vero eveniet facilis incidunt aperiam ullam architecto?</p>
    </div>
    <!-- Layout med Flexbox -->
    <div class="container">
        <div class="header">Header</div>
        <div class="sidebar">Sidebar</div>
        <div class="content">Content</div>
        <div class="banner">Banner</div>
        <div class="footer">footer</div>
    </div>
</body>
</html>